<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>
	  <!--<customErrors mode="On">
		  <error statusCode="404" redirect="/ErrorPage/Page404/"></error>
	  </customErrors>-->
    <security>
      <requestFiltering>
        <!-- This will handle requests up to 50MB -->
        <requestLimits maxAllowedContentLength="100000000" />
      </requestFiltering>
    </security>
  </system.webServer>
	<connectionStrings>
		<add name="Context" connectionString="data source=(localdb)\MSSQLLocalDB; initial catalog=DbMvcKamp; integrated security=true;" providerName="System.Data.SqlClient"/>
	</connectionStrings>

</configuration>